.sidebar {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    width: 22vw;
    padding-left: 1rem;
  }
  
   .matrixIcon {
    margin: 0 1.5rem;
  }
  

  .profileCard {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
    padding: 1rem;
    width: 80%;
  }

  .profileCardImage img{
    border-radius: 50%;
  }
  .profileCard:hover {
    transition: color 100ms ease-out;
    background-color: #151515;
  }
  
  @media (min-width: 600px) and (max-width: 1000px) {
    .sidebarItem > span {
      display: none;
    }
    .sidebar {
      width: 6rem;
      padding: 0;
      overflow-x: hidden;
    }
    .profileCard{
      margin-left: 1rem;
    }
    .profileCardImage{
      display: none;
    }
    .profileCardNameCol{
      display: none;
    }
  
  }
  @media (min-width: 0) and (max-width: 600px) {
    .sidebar {
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      position: fixed;
      bottom: 0;
      background-color: #151515;
      z-index: 50;
      max-height: 4rem;
      min-height: 4rem;
      max-width: 100vw;
      min-width: 100vw;
      overflow-y: hidden;
    }

    .profileCard{
      width: 2rem;
    }

    .sidebarItem > span {
      display: none;
    }

    .profileCardImage{
      display: none;
    }
    .profileCardNameCol{
      display: none;
    }
  

  }
  